@import 'bulma/css/bulma.min.css';

body {
  padding: 5rem;
}

#output {
  display: flex;
  overflow-x: auto;
}

#output .table {
  margin-right: 4rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: fit-content;
}

#output .table th {
  background: #f5f5f5;
  font-weight: normal;
}
